### react
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-template/node_modules
react-template/.pnp
react-template/.pnp.js

# testing
react-template/coverage

# production
react-template/build

# misc
react-template/.DS_Store
react-template/.env.local
react-template/.env.development.local
react-template/.env.test.local
react-template/.env.production.local

react-template/npm-debug.log*
react-template/yarn-debug.log*
react-template/yarn-error.log*

### next
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
next-template/node_modules
next-template/.pnp
next-template/.pnp.js

# testing
next-template/coverage

# next.js
next-template/.next/
next-template/out/

# production
next-template/build

# misc
next-template/.DS_Store
next-template/*.pem

# debug
next-template/npm-debug.log*
next-template/yarn-debug.log*
next-template/yarn-error.log*

# local env files
next-template/.env.local
next-template/.env.development.local
next-template/.env.test.local
next-template/.env.production.local

# vercel
next-template/.vercel

# typescript
next-template/*.tsbuildinfo
